<nav>
    <div class="nav-wrapper">
        <a id="logo-container" href="{{ path('home') }}" class="brand-logo"><img src="{{ asset('images/logo.png') }}" alt="" id="logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="{{ path('getall') }}">tous les films</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">créer un compte</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_logout') }}">{{ app.user.username }} | logout</a></li>

                <li><a href="{{ path('wishlist') }}">ma wishlist</a></li>

            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">se connecter</a></li>
            {% endif %}


            {#
                     <li><a href="{{ path('todo_list') }}">liste</a></li>
            <li><a href="{{ path('home') }}">accueil</a></li>
            <li><a href="{{ path('todo_bestof') }}">best of</a></li>
            <li><a href="{{ path('todo_add') }}">j'ai une idée</a></li>
            <li><a href="{{ path('about') }}">à propos</a></li>
            {% if app.user %}
            <li><a href="{{ path('logout') }}">{{ app.user.username }} | logout</a></li>
            {% else %}
            <li><a href="{{ path('login') }}">login</a></li>
            <li><a href="{{ path('register') }}">créer un compte</a></li>
            {% endif %}
            #}

        </ul>
    </div>
</nav>