{% extends 'main.html.twig' %}

{% block main %}


    <h2 class="whiteText">Tous les films</h2>


<div class="form-filter-cont">
    <div class="input-field col s4">
        {{ form_start(form) }}
        {{ form_widget(form.category) }}
<p><em>année min.</em></p>
        <input type="range" min="1900" max="{{ currentYear }}" name="anneeMin" value="1900"/>

        <p><em>année max.</em></p>
        <input type="range" min="1900" max="{{ currentYear }}"  name="anneeMax" value="2018"/>
        {{ form_end(form) }}
    </div>
</div>
<div class="row">
    <div class="col s4 cont-filter">
        {% if recherche is defined %}

            <a class="waves-effect waves-light btn genre-btn">{{ recherche.genre }}</a>
            <p>tous les films de {{ recherche.anneeMin }} à {{ recherche.anneeMax }}</p>

        {% else %}
            <a class="waves-effect waves-light btn genre-btn">ALL</a>
        {% endif %}
    </div>

</div>


    <div class="flex">
        {% for movie in pagination %}

            <div class="card card-item">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ asset('posters/'~ movie.imdbId ~'.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ movie.title }}<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Voir le teaser</a></p>
                    <a href="{{ path('getfilm', {"id": movie.imdbId }) }}">
                    <div class="rating">
                        {% if movie.rating <= 2 %}
                            <i class="tiny material-icons">star_half</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                        {% elseif movie.rating <= 4 %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                        {% elseif movie.rating <= 6 %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star_half</i>
                            <i class="tiny material-icons">star_border</i>
                            <i class="tiny material-icons">star_border</i>
                        {% elseif movie.rating <= 7 %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star_half</i>
                            <i class="tiny material-icons">star_border</i>
                        {% elseif movie.rating <= 8 %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star_border</i>
                        {% elseif movie.rating <= 9 %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star_half</i>
                        {% else %}
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                            <i class="tiny material-icons">star</i>
                        {% endif %}
                        <span> note : {{ movie.rating }} </span>
                    </div>
                    </a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ movie.title }}<i class="material-icons right">close</i></span>
                    <p>{{ movie.plot }}</p>
                    <a href="{{ path('getfilm', {"id": movie.imdbId }) }}"><p>voir le détail</p></a>

                </div>
            </div>

        {% endfor %}
    </div>
    <div class="navigation m-l">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
