{% extends 'main.html.twig' %}


{% block title %}

{% endblock %}

{% block main %}

<div class="cont-detail-film" style= "background-image: url({{ asset('backdrops/'~ film.imdbId ~'.jpg') }}); ;
        background-size: cover;
 ";>

        <div class="description-film">
                <div class="flex">
                        <div>
                                <h2>{{ film.title }}</h2><span><em>{{ film.year }}</em></span>
                        </div>
                        <div class="genre-cont">
                            {%  for g in film.genres %}
                            <a class="waves-effect waves-light btn genre-btn">{{ g }}</a>
                             {% endfor %}
                        </div>
                </div>


                <p> <div class="rating">
        {% if film.rating <= 2 %}
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 4 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 6 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 7 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 8 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 9 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
        {% else %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
        {% endif %}
        <span> note : {{ film.rating }} sur {{ film.votes }} votes</span>
    </div></p>
<p>{{ film.plot }}</p>
        </div>
        <div class="flex">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ film.trailerId }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>

</div>

    <div class="cont-review">
        <h2>Les critiques</h2>
        {% if is_granted('ROLE_USER') %}
            {{ form_start(reviewForm) }}
            {{ form_widget(reviewForm) }}
            {{ form_end(reviewForm) }}
        {% else %}
                <p class="m-l">Connectez vous pour écrire un comment
                       <a href="{{ path('fos_user_security_login') }}" class="btn-floating btn-large red" >                  <i class="large material-icons">forward</i>
                    </a></p>
        {% endif %}


        {% for c in film.reviews %}
            <div class="col s12 m7">

                <div class="card horizontal">

                    <div class="card-stacked">
                        <div class="card-content flex header-comment">
                            <h5>{{  c.title|capitalize }}</h5>
                                <p class="genre-cont">par {{ c.user.username|capitalize }} <span><em class="m-l">  le {{ c.date|date("d/m/Y") }}</em></span></p>


                        </div>
                        <div class="card-action">
                           <p>" {{ c.detail|capitalize }} "</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
    </div>



{% endblock %}