{% extends 'main.html.twig' %}


{% block title %}

{% endblock %}

{% block main %}

<div class="cont-detail-film" style= "background-image: url({{ asset('posters/'~ film.imdbId ~'.jpg') }}); ;
        background-size: cover;
 ";>

        <div class="description-film">
                <div class="flex">
                        <div>
                                <h2>{{ film.title }}</h2><span><em>{{ film.year }}</em></span>
                        </div>
                        <div class="genre-cont">
                            {%  for g in film.genres %}
                            <a class="waves-effect waves-light btn genre-btn">{{ g }}</a>
                             {% endfor %}
                        </div>
                </div>


                <p> <div class="rating">
        {% if film.rating <= 2 %}
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 4 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 6 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 7 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 8 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
        {% elseif film.rating <= 9 %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
        {% else %}
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
        {% endif %}
        <span> note : {{ film.rating }} sur {{ film.votes }} votes</span>
    </div></p>
<p>{{ film.plot }}</p>
        </div>
        <div class="flex">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ film.trailerId }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>

</div>

    <div class="cont-review">
        <h2>Les critiques</h2>
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="merci de soumettre un titre" id="titre" type="text" class="validate">
                            <label for="titre">Titre</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Votre critique</label>
                        </div>
                    </div>
                    <div class="flex">
                        <button class="btn waves-effect waves-light m-l" type="submit" id="_submit" name="_submit">Soumettre
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
            {% else %}
                <p class="m-l">Connectez vous pour écrire un comment
                       <a href="{{ path('fos_user_security_login') }}" class="btn-floating btn-large red" >                  <i class="large material-icons">forward</i>
                    </a></p>
        {% endif %}
    </div>



{% endblock %}